<p>
    <ac:structured-macro ac:name="inc-drawio" ac:schema-version="1" ac:macro-id="585981ed-ad06-4b42-800c-74cf98462b3d">
        <ac:parameter ac:name="diagramName">test-diagram</ac:parameter>
        <ac:parameter ac:name="includedDiagram">1</ac:parameter>
        <ac:parameter ac:name="width">121</ac:parameter>
        <ac:parameter ac:name="pageId">{{ confluence.spaces.sp1.pages.page_1.id }}</ac:parameter>
    </ac:structured-macro>
</p>